Se liberaron los siguientes recursos

####################################################

CID: {{CID}}

PE: {{PE_HOSTNAME}}
Port: {{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}
c-vlan: {{CVLAN_ID}}

IPv4 WAN: {{IPV4_LOCAL_NET}}
IPv4 LAN: {{IPV4_LAN_NET}}

Nodo "TODO"
SW: "TODO"
Puerto: "TODO"

CPE MGMT:
Alias: "TODO"
Address IP: {{CPE_IPV4_ADDRESS}}

NID MGMT:
Alias: "TODO"
VLAN: "TODO"
Address IP: "TODO"

###################################################