
/configure router static-route-entry {{IPV4_LAN_NET}} next-hop {{IPV4_NEIGHBOR_ADDR}} shutdown
/configure router static-route-entry {{IPV4_LAN_NET}} no next-hop {{IPV4_NEIGHBOR_ADDR}}
/configure router no static-route-entry {{IPV4_LAN_NET}}

/configure service ies {{IES_ID}} interface "{{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}" sap {{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}} shutdown
/configure service ies {{IES_ID}} interface "{{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}" no sap {{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}
/configure service ies {{IES_ID}} interface "{{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}" shutdown
/configure service ies {{IES_ID}} no interface "{{IFACE_NAME}}:{{SVLAN_ID}}.{{CVLAN_ID}}"
/configure service ies {{IES_ID}} shutdown
/configure service no ies {{IES_ID}}


/configure router policy-options abort
/configure router policy-options begin

/configure router policy-options no policy-statement "CUSTOMER:AS10753-BROADNET-4"

/configure router policy-options no prefix-list "CUSTOMER:AS10753-BROADNET-4"
/configure router policy-options commit


/configure router bgp group "AS10753" neighbor 201.234.209.70 shutdown
/configure router bgp group "AS10753" no neighbor 201.234.209.70

/configure filter match-list ip-prefix-list "cust-bgp" no prefix 201.234.209.70/32