{% if STATIC_ROUTING and IPV4_LAN_NET %}
    set routing-options static route {{IPV4_LAN_NET}} next-hop {{IPV4_NEIGHBOR_ADDRESS}}
{% endif %}

{# {% if BGP_ROUTING %}
    set protocols bgp group external type external
    set protocols bgp group external family inet unicast
    set protocols bgp group external export bgp-export-policy
    set protocols bgp group external neighbor {{IPV4_NEIGHBOR_ADDRESS}} peer-as {{PEER_AS_NUMBER}}
    set protocols bgp group external neighbor {{IPV4_NEIGHBOR_ADDRESS}} as-override
    set protocols bgp group external neighbor {{IPV4_NEIGHBOR_ADDRESS}} import vpn-customer-ecuador
    {% if IPV6_LOCAL_ADDRESS %}
        set protocols bgp group external type external
        set protocols bgp group external family inet6 unicast
        set protocols bgp group external export bgp-export-policy
        set protocols bgp group external neighbor {{IPV6_NEIGHBOR_ADDRESS}} peer-as {{PEER_AS_NUMBER}}
        set protocols bgp group external neighbor {{IPV6_NEIGHBOR_ADDRESS}} as-override
        set protocols bgp group external neighbor {{IPV6_NEIGHBOR_ADDRESS}} import vpn-customer-ecuador
    {% endif %}
{% endif %} #}

set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} description "CUSTOMER: IMPS-CLI: {{CUSTOMER_NAME}} (CFS:{{CID}}) [{{CID_LOCATION}}]"

{% if SVLAN_ID %}
    set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} vlan-tags outer 0x8100.{{SVLAN_ID}}
    set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} vlan-tags inner 0x8100.{{CVLAN_ID}}
{% else %}
    set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} vlan-id {{CVLAN_ID}}
{% endif %}
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet rpf-check mode loose
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet no-redirects
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet filter input NETPROTECT-BE
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet filter output NETPROTECT-BE-OUT
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet policer input CUSTOMER-10M
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet policer output CUSTOMER-10M
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet address {{IPV4_LOCAL_ADDRESS}}/{{IPV4_NETMASK_LENGHT}}
{% if IPV6_LOCAL_ADDRESS %}
set interfaces {{IFACE_NAME}} unit {{DATA_UNIT}} family inet6 address {{IPV6_LOCAL_ADDRESS}}/{{IPV6_NETMASK_LENGHT}}
{% endif %}
