Se asignaron y configuraron los siguientes recursos:

####################################################

CID: {{CID}}

PE: {{PE_HOSTNAME}}
Port: {{IFACE_NAME}}.{{DATA_UNIT}}
c-vlan: {{CVLAN_ID}}
vrf: {{DATA_VRF}}
BW: {{TOTAL_BW}}Kbps

Nodo Parkenor
SW: "TODO"
Puerto: "TODO"

CPE MGMT:
Alias: "TODO"
Address IP: {{CPE_IPV4_ADDRESS}}

NID MGMT:
Alias: "TODO"
VLAN: "TODO"
Address IP: "TODO"

###################################################